.island {
	margin: 0 auto;
	margin-bottom: 18px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	background: #fff;
	border: 1px solid #dedfe0;
	border-radius: 3px;
}

.islandBack {
	padding-bottom: 27px;
}

.islandBack--t {
	padding-top: 20px;
}

.islandBack--ttt {
	padding-top: 4em;
}

.island--simplePad {
	padding: 16px 18px;
}

.island--simplePadTB {
	padding-top: 18px;
	padding-bottom: 18px;
}

.island__paddedContent {
	padding: 16px 18px;
}

.island__header {
	background-color: #f4f4f5;
	border-bottom: 1px solid #dedfe0;
	border-radius: 3px 3px 0 0;
	padding: 11px 18px 9px 18px;
	font-size: 21px;
}

.island .header {
	background-color: #f4f4f5;
	margin: 0;
	padding: 11px 18px 9px 18px;
	font-size: 21px;
}

.island .success {
  font-size: 13px;
  color: green;
}

.island__separator {
	border-top: 1px solid #dedfe0;
	width: 100%;
}

.island__sub {
	display: flex;
	padding: 0 9px;
	justify-content: space-between;
}

.island__sub__division {
	margin: 0 9px;
	flex: 1 0;
	width: 0;
}

.island__sub__division__title {
	font-size: 21px;
	margin-bottom: 14px;
	margin-top: 14px;
	font-weight: 400;
	text-align: center;
}

.island__sub__division__title--left {
	text-align: left;
}

.island--pb {
	padding-bottom: 36px;
}

.island .row {
	display: flex;
	margin-right: 0px;
	margin-left: 0px;
	padding: 14px 18px;
	border-top: 1px solid #dedfe0;
}
.island .no-top {
	display: block;
	border-top: 0px;
}
.island input {
	border: 1px solid #bdbfc0;
}

.AddTrust__inputGroup {
	margin-bottom: 8px;
}
.AddTrust__confirmation {
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 20px;
    padding-right: 20px;
}
.AddTrust__confirmation__assetCard {
    margin-bottom: 1em;
}
.AddTrust__errorList {
    margin-left: 2em;
}

.s-inputGroup {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 18px;
    line-height: 1.5;
}

.s-inputGroup__item {
    border-radius: 3px;
}
.s-inputGroup__item--tag {
    padding-left: 1em;
    background: #f4f4f5;
    border-radius: 3px 0 0 3px;
    border: 1px solid #bdbfc0;
    border-right: 0;
}
.s-inputGroup__item--tag+.s-inputGroup__item {
    border-radius: 0 3px 3px 0;
}
.s-inputGroup__item--tag, .s-inputGroup__item--tagFlat, .s-inputGroup__item--tagMin {
    align-items: center;
    display: flex;
}
.s-inputGroup__item {
    flex: 12 0 auto;
}
.S-flexItem-1of4 {
    flex: 0 0 25%;
}

.s-alert--success {
    background: #4cb780;
}

.s-alert--info {
    /* border: 1px solid #69f; */
    background: #69f;
}

.s-alert--error {
	background: #CD5C5C;
}
.errorFlex{
	display: flex !important;
	align-items: center;
}
.errorFlex .warnIcon{
	width: 44px;
	margin-right: 19px;
}
.errorFlex .tips{
	flex: 1 0 0;
}
.s-alert--alert {
	background: #FF7878;
}

.s-alert--warning {
	background: #f0ad4e;
}

.s-alert {
	box-shadow: 0px 0px 6px 1px rgb(0 0 0 / 20%);
	color: #fff;
    display: block;
    padding: 8px 16px;
    margin-bottom: 12px;
    border-radius: 3px;
}

.s-alert ul {
	margin-bottom: 0;
	font-size: 18px;
}
.row__message {
	width: 100%;
	text-align: center;
	font-size: 21px;
}

.row__fixedAsset {
	width: 450px;
	flex: 1 0;
}

.row__shareOption {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.row__message--error {
	color: #d12;
}

.BalancesTable {
	width: 100%;
}

.BalancesTable__headerRow {
	font-size: 24px;
	text-align: center;
}

.BalancesTable__headerRow td {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.BalancesTable__row {
	border-top: 1px solid #dedfe0;;
}

.BalancesTable__row td {
	padding: 0.75em 18px;
}

.BalancesTable__row__amount {
	font-family: 'OpenSansLight';
	text-align: right;
	font-size: 22px;
}

.BalancesTable__row__limit {
	font-size: 18px;
	text-align: right;
	color: #3a3f43;
}

.BalancesTable__row__removeLink {
	font-size: 13.5px;
	color: #929597;
}

.AssetCard__main {
	background: #f4f4f5;
	border-radius: 3px;
	display: flex;
	padding: 8px 16px 8px 8px;
	height: 88px;
	align-items: center;
	border: 1px solid #dedfe0;
}

.AssetCard--fixed {
	width: 360px;
}

.AssetCard--container .AssetCard__main {
	border-radius: 3px 3px 0 0;
}

.AssetCard__addon {
	padding: 8px;
	border-left: 1px solid #dedfe0;
	border-right: 1px solid #dedfe0;
	border-bottom: 1px solid #dedfe0;
	border-radius: 0 0 3px 3px;
}

.AssetCard__logo {
	width: 50px;
	height: 50px;
	background: #fff;
	flex: 0 0 auto;
	margin-right: 16px;
	border-radius: 6px;
}

.AssetCard__logo__image {
	width: 50px;
	height: 50px;
	margin: 0;
	display: block;
	border-radius: 3px;
}

.AssetCard__content {
	overflow: hidden;
}

.AssetCard__header {
	display: flex;
	align-items: baseline;
	height: 28px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.AssetCard__code {
	font-weight: 700;
	font-size: 28px;
	line-height: 24px;
	margin-right: 8px;
}

.AssetCard__federation {
	text-decoration: none;
	font-size: 21px;
	line-height: 24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

a.AssetCard__federation:hover {
	border-bottom: 1px solid #000;
}

.AssetCard__issuerAccountId {
	margin: 0;
	font-size: 10px;
	padding-left: 1px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 1px;
	opacity: 0.8;
}

.BalancesTable__row:hover .AssetCard__main, a.AssetPairRow:hover .AssetCard__main
	{
	border: 1px solid #5CDA63;
	box-shadow: 0 0 1px rgba(#5CDA63, 0.3);
}

/**最新得UI样式**/
.balanceContainer{}
.balanceContainer .balanceContainer__warning{
	background: #FF7878;
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.20000000298023224);
	border-radius: 6px 6px 6px 6px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 15px 10px;
	margin-bottom: 12px;
	width: calc(100% - 18px);
}
.balanceContainer  .balanceContainer__warning .leftIcon{
	width: 49px;
	margin-right: 11px;
}
.balanceContainer  .balanceContainer__warning .leftIcon img{
	width: 100%;
}
.balanceContainer  .balanceContainer__warning .tips{
	flex:1 0 0;
}
.balanceContainer  .balanceContainer__warning .tips > span{
	font-size: 14px;
	line-height: 16px;
	color: #fff;
}
.balanceContainer .balanceContainer__content{}
.balanceContainer .balanceContainer__content .content__top{
	display: flex;
	flex-wrap:wrap;
	position: relative;
}
.content__top .absoluteClass{
	position: absolute !important;
	top: 156px;
	right: 0;
	margin: 0 !important;
}
.content__top .addTo__top{
	position: absolute !important;
	top: 0;
	right: 2px;
	margin: 0 !important;
}
.balanceContainer .balanceContainer__content .content__top .leftAssets{
	width: 766px;
	margin-right: 17px;
}
.balanceContainer .balanceContainer__content .content__top .right{
	flex: 1 0 0;
}
.balanceContainer .balanceContainer__content .content__top .assets{}
.balanceContainer .balanceContainer__content .assetsCards{
	height: 160px;
	background: #52C3E1;
	width: calc(33.33% - 17px);
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.20000000298023224);
	border-radius: 6px 6px 6px 6px;
	margin-bottom: 17px;
	margin-right: 17px;
}
.noMarginRight{
	margin-right: 0 !important;
}
.balanceContainer .balanceContainer__content .assetsCards .assetsCards__content{
	display: flex;
	align-items: center;
	padding: 30px 0 0 30px;
}
.balanceContainer .balanceContainer__content .assetsCards .content__logo{
	width: 48px;
	height: 48px;
	background: #fff;
	margin-right: 14px;
	border-radius: 8px;
}
.balanceContainer .balanceContainer__content .assetsCards .content__logo .logo__image{
	width: 90%;
	height: 90%;
	margin: 5%;
}
.balanceContainer .balanceContainer__content .assetsCards .content__main{
	overflow: hidden;
}
.balanceContainer .balanceContainer__content .assetsCards .content__main .assetsName,
.balanceContainer .balanceContainer__content .assetsCards .content__main .assetsCode
{
	color: #fff;
	text-align:left;
	overflow: hidden;

}
.balanceContainer .balanceContainer__content .assetsCards .content__main .assetsName{
	font-size: 14px;
	font-weight: bold;
}
.balanceContainer .balanceContainer__content .assetsCards .content__main .assetsCode{
	font-weight: 500;
	font-size: 13px;
	opacity: 0.7;
}
.balanceContainer .balanceContainer__content .assetsCards .assetsCards__footer{
	display: flex;
	align-items:center;
	justify-content: space-between;
	padding: 0 30px;
	margin-top: 40px;
}
.balanceContainer .balanceContainer__content .assetsCards .assetsCards__footer .descName,
.balanceContainer .balanceContainer__content .assetsCards .assetsCards__footer .amount{
	font-size: 16px;
	color: #fff;
}
.balanceContainer .balanceContainer__content .assetsCards .assetsCards__footer .descName{

}
.balanceContainer .balanceContainer__content .assetsCards .assetsCards__footer .amount{
	font-weight: bold;
}

.balanceContainer .balanceContainer__content .assetsCards:last-child{
	margin-bottom: 0;
}
.balanceContainer .balanceContainer__content .assetsCards.bigCard{
	/*height: 132px;*/
	background: #52C3E1;
	width: 64.9866%;
	margin-right: 17px;
}
/*.balanceContainer .balanceContainer__content .assetsCards:nth-child(2){*/
/*	!*margin-right: 0;*!*/
/*}*/
/*.balanceContainer .balanceContainer__content .otherCards:nth-child(4n){*/
/*	margin-right: 0;*/
/*}*/
.balanceContainer .balanceContainer__content .assetsCards.bigCard .assetsCards__content{
	padding: 24px 60px 0 60px;
}
.balanceContainer .balanceContainer__content .assetsCards.bigCard .content__logo{
	width: 102px;
	height: 102px;
	margin-right: 52px;
}
.balanceContainer .balanceContainer__content .assetsCards.bigCard .rightMain{
	flex: 1;
}
.balanceContainer .balanceContainer__content .assetsCards.bigCard .main__footer .descName{
	font-size: 28px;
	color: #fff;
	font-weight: bold;
}
.balanceContainer .balanceContainer__content .assetsCards.bigCard .main__footer .amount{
	font-size: 36px;
	color: #fff;
	font-weight: bold;
	display:inline-block;
}
.balanceContainer .balanceContainer__content .assetsCards.bigCard .main__footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.balanceContainer .balanceContainer__content .assetsCards.bigCard .content__main .assetsName{
	font-size: 37px;
}
.balanceContainer .balanceContainer__content .assetsCards.bigCard .content__main .assetsCode{
	font-size: 24px;
}
.balanceContainer .balanceContainer__content .assetsCards.bigCard .assetsCards__footer{
	padding: 0 49px;
	margin-top: 65px;
	font-size: 21px;
}
.balanceContainer .balanceContainer__content .assetsCards.addCards{
	background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
	opacity: 0.2;
	position: relative;
	cursor: pointer;
}

.XLM{
	background: #5EABDA !important;
}
.Ripple,
.XRP{
	background: #4E9BDA !important;
}
.ABC{
	background: #53AFC6 !important;
}
.BCD{
	background:#B6B6B6 !important;
}
.CNY{
	background:#7092E3!important;
}
.BTC{
	background:#5CCC86!important;
}
.USD{
	background:#97CEFF!important;
}
.USDT{
	background:#53ae94!important;
}
.XAG{
	background:#7092E3!important;
}
.balanceContainer .balanceContainer__content .assetsCards.addCards .defaultIcon{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.balanceContainer .balanceContainer__content .assetsCards.addCards .defaultIcon >img{
	width: 80px;
}


.balanceContainer .balanceContainer__content .assetsCards.bigCard .assetsCards__footer .descName,
.balanceContainer .balanceContainer__content .assetsCards.bigCard .assetsCards__footer .amount{
	font-size: 21px;
}
.balanceContainer .balanceContainer__content .content__top ul>li{
	list-style: none;
}
.balanceContainer .balanceContainer__content .content__top{
	margin-top: 17px;
}
.balanceContainer .balanceContainer__content .content__top .Bal__row{
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	justify-content: space-between;
	flex-flow: wrap;
}
.balanceContainer .balanceContainer__content .content__top .Bal__row li{
	width: calc(50% - 8px);
	margin-bottom: 17px;
}
