<section class="col-xs-12 content">
	<group class="tradContainer">
		<div class="so-back islandBack islandBack--t">
			<div class="flexRow">
				<div class="column">
					<div class="island_new flexRow">
						<div class="PairPicker__card" ng-class="base_code" ng-click="choosePair('base')">
							<div class="card__logo">
								<img class="image" data-ng-src="{{base.logo}}">
							</div>
							<div class="card__code">{{base_code}}</div>
							<div class="card__balance" translate="balance">余额</div>
							<div class="card__money">${{getBalance(base_code, base_issuer)}}</div>
							<div class="card__footer">
								<img src="img/file2.png" class="filpIcon" alt="">
							</div>
						</div>
						<div class="transferIcon" ng-click="flip()">
							<div class="iconItem">
								<img src="img/filp.png" alt="">
							</div>
							<div class="iconTips">点击转换</div>
						</div>
						<div class="PairPicker__card" ng-class="counter_code" ng-click="choosePair('counter')">
							<div class="card__logo">
								<img class="image" data-ng-src="{{counter.logo}}">
							</div>
							<div class="card__code">{{counter_code}}</div>
							<div class="card__balance" translate="balance">余额</div>
							<div class="card__money">${{getBalance(counter_code, counter_issuer)}}</div>
							<div class="card__footer">
								<img src="img/file2.png" class="filpIcon" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="column__card">
					<div class="cards">
						<div class="cardsNav">
							<div class="navItem">
								<span class="navTitle active">创建委托单</span>
							</div>
						</div>
						<div class="cardsContent">
							<div class="listing">
								<div class="fieldBox">
									<div class="manager_title" translate="order_amount">Amount</div>
									<div class="cinput-group">
										<input type="text" class="form-control" ng-model="sell_amount"
											ng-change="calculate('sell_amount')" placeholder="1000">
										<div class="addOnBtn"><span class="btnText">{{base_code}}</span></div>
									</div>
								</div>
								<div class="fieldBox">
									<div class="manager_title" translate="price_of_each">price_of_each</div>
									<div class="cinput-group">
										<input type="text" class="form-control" ng-model="sell_price"
											ng-change="calculate('sell_price')" placeholder="1000">
										<div class="addOnBtn"><span class="btnText">{{counter_code}}</span></div>
									</div>
								</div>
								<div class="fieldBox">
									<div class="manager_title">{{'rental' | translate}}</div>
									<div class="cinput-group">
										<input type="text" class="form-control" ng-model="sell_volume"
											ng-change="calculate('sell_volume')" placeholder="1000">
										<div class="addOnBtn"><span class="btnText">{{counter_code}}</span></div>
									</div>
								</div>
							</div>
							<div class="cardFooter" ng-hide="fatfingersell || fatfingerbuy">
								<!--买入-->
								<div class="myBtn" ng-click="offerWithCheck('buy')" ng-disabled="selling">{{'buy' |
									translate}} {{base_code}}</div>
								<!--卖出-->
								<div class="myBtn" ng-click="offerWithCheck('sell')">{{'sell' | translate}}
									{{base_code}}</div>
							</div>
							<div ng-show="fatfingersell || fatfingerbuy">
								<div class="warning-buy-sell" translate="fatfinger"></div>
							</div>
							<div class="cardFooter" ng-show="fatfingerbuy" style="margin-top: 8px">
								<button class="myBtn" ng-click="offer('buy')">{{'buy' | translate}}
									{{base_code}}</button>
								<!-- <button class="btn btn-default marginleft" ng-click="fatfingerbuy=false">{{'cancel' |
									translate}}</button> -->
							</div>
							<div class="cardFooter" ng-show="fatfingersell" style="margin-top: 8px">
								<button class="myBtn" ng-click="offer('sell')">{{'sell' | translate}}
									{{base_code}}</button>
								<!-- <button class="btn btn-default marginleft" ng-click="fatfingersell=false">{{'cancel' |
									translate}}</button> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="margin-top: 12px;">
				<div ng-hide="fatfingersell || fatfingerbuy">
					<div class="s-alert s-alert--info" ng-show="sell_state=='submitted'" translate="submitted"></div>
					<div class="s-alert s-alert--success" ng-show="sell_state=='success'" translate="offer_success">
					</div>
					<div class="s-alert errorFlex s-alert--error" ng-show="sell_fail">
						<div>
							<img class="warnIcon" src="../img/warnInfo.png" alt="">
						</div>
						<div class="tips">
							{{sell_fail}}
						</div>
					</div>
				</div>
			</div>
			<div class="popubDialog" ng-show="show_pair" ng-click="show_pair=false">
				<div class="popubDialog__main">
					<div class="popubDialog__body">
						<div class="flexRow">
							<div class="assetsCards" ng-click="pick(pairKey, native.code, '')"
								ng-class="native.code">
								<div class="assetsCards__content">
									<div class="content__logo">
										<img class="logo__image" data-ng-src="{{native.logo}}">
									</div>
									<div class="content__main">
										<div class="assetsName">{{native.code}}</div>
										<div class="assetsCode"></div>
									</div>
								</div>
								<div class="assetsCards__footer">
									<div class="descName">{{'balance' | translate}}</div>
									<div class="amount">{{getBalance(native.code, '')}}</div>
								</div>
							</div>
							<div class="assetsCards" ng-repeat="(keystr, line) in tradeAssets"
								ng-click="pick(pairKey, line.code, line.issuer)" ng-class="line.code"
								ng-init="gateway=getGateway(line.code, line.issuer)">
								<div class="assetsCards__content">
									<div class="content__logo">
										<img class="logo__image" data-ng-src="{{gateway.logo}}">
									</div>
									<div class="content__main">
										<div class="assetsName">{{line.code}}</div>
										<div class="assetsCode">{{line.issuer}}</div>
									</div>
								</div>
								<div class="assetsCards__footer">
									<div class="descName">{{'balance' | translate}}</div>
									<div class="amount">{{line.balance}}</div>
								</div>
							</div>
						</div>
					</div>
					<div class="popubDialog__close">
						<img src="../img/closeIcon.png" ng-click="show_pair=false" alt="">
					</div>
				</div>
			</div>
			<div class="listings_pad_new">
				<div class="cards">
					<div class="cardsNav">
						<div class="navItem col-md-6" ng-class="{'active': showMode == 'buy'}"
							ng-click="changeShowMode('buy')">
							<span class="navTitle" translate="your_buy_offers">Your buy offers</span>
						</div>
						<div class="navItem col-md-6" ng-class="{'active': showMode == 'sell'}"
							ng-click="changeShowMode('sell')">
							<span class="navTitle" translate="your_sell_offers">Your sell offers</span>
						</div>
					</div>
					<div class="cardsContent">
						<div class="listing" ng-show="showMode == 'buy'">
							<div class="row head" ng-show="offers.bid.length">
								<div class="col-xs-3 right" translate="price">Price</div>
								<div class="col-xs-3 right" translate="order_amount">Amount</div>
								<div class="col-xs-4 right" translate="total">Total</div>
								<!--								<div class="col-xs-2 right" translate="action">Action</div>-->
							</div>
							<div class="row body" ng-repeat="item in offers.bid"
								ng-class="{cancelling: isCancelling(item.id)}">
								<div class="col-xs-3 right">{{item.price | fmtnum}} {{item.total.currency}}</div>
								<div class="col-xs-3 right">{{item.quantity.value | fmtnum}} {{item.quantity.currency}}
								</div>
								<div class="col-xs-4 right">{{item.total.value | fmtnum}} {{item.total.currency}}</div>
								<div class="col-xs-2 action">
									<i class="fa fa-spinner fa-pulse" ng-show="isCancelling(item.id)"></i>
									<a href="javascript:" ng-click="cancel(item.id, 'all')"
										class="danger">{{'offer_cancel' | translate}}</a>
								</div>
							</div>
							<div ng-show="!offers.bid.length" class="message" translate="no_offers">You haven't placed
								any orders.</div>
							<div class="lookmore">
								<span class="text" translate="lookmore" ng-click="changeShowMode('buy')">加载更多</span>
							</div>
						</div>
						<div class="listing" ng-show="showMode == 'sell'">
							<div class="row head" ng-show="offers.ask.length">
								<div class="col-xs-3 right" translate="price">Price</div>
								<div class="col-xs-3 right" translate="order_amount">Amount</div>
								<div class="col-xs-4 right" translate="total">Total</div>
								<!--								<div class="col-xs-2 right" translate="action">Action</div>-->
							</div>
							<div class="row body" ng-repeat="item in offers.ask"
								ng-class="{cancelling: isCancelling(item.id)}">
								<div class="col-xs-3 right">{{item.price | fmtnum}} {{item.total.currency}}</div>
								<div class="col-xs-3 right">{{item.quantity.value | fmtnum}} {{item.quantity.currency}}
								</div>
								<div class="col-xs-4 right">{{item.total.value | fmtnum}} {{item.total.currency}}</div>
								<div class="col-xs-2 action">
									<i class="fa fa-spinner fa-pulse" ng-show="isCancelling(item.id)"></i>
									<a href="javascript:" ng-click="cancel(item.id, 'all')"
										class="danger">{{'offer_cancel' | translate}}</a>
								</div>
							</div>
							<div ng-show="!offers.ask.length" class="message" translate="no_offers">You haven't placed
								any orders.</div>
							<div class="lookmore">
								<span class="text" translate="lookmore" ng-click="changeShowMode('sell')">加载更多</span>
							</div>
						</div>
					</div>
				</div>
				<div class="flexRow">
					<div class="cards">
						<div class="cardsNav">
							<div class="navItem active">
								<span class="navTitle" translate="buy_offers">Buy offers</span>
							</div>
						</div>
						<div class="cardsContent">
							<div class="listing">
								<div class="row head" ng-show="book.bids.length">
									<div class="col-xs-4">{{'sum' | translate}} <div class="currency">({{base_code}})
										</div>
									</div>
									<div class="col-xs-4">{{'size' | translate}} <div class="currency">({{base_code}})
										</div>
									</div>
									<div class="col-xs-4">{{'bid_price' | translate}}<div class="currency">
											({{counter_code}})</div>
									</div>
								</div>
								<div class="row body" ng-class="{my: item.account == address}" title="{{item.account}}"
									ng-repeat="item in book.bids" ng-click="pickPrice('bid', item.price)">
									<div class="col-xs-4">{{item.depth | number: value_precise}}</div>
									<div class="col-xs-4">{{item.amount | number: precise}}</div>
									<div class="col-xs-4">{{item.price | number: price_precise}}</div>
								</div>
								<div ng-show="!book.bids.length" class="message" translate="no_bids">There are currently
									no bids for this pair.</div>
							</div>
						</div>
					</div>
					<div class="cards">
						<div class="cardsNav">
							<div class="navItem active">
								<span class="navTitle" translate="sell_offers">Sell offers</span>
							</div>
						</div>
						<div class="cardsContent">
							<div class="listing">
								<div class="row head" ng-show="book.asks.length">
									<div class="col-xs-4">{{'ask_price' | translate}}<div class="currency">
											({{counter_code}})</div>
									</div>
									<div class="col-xs-4">{{'size' | translate}} <div class="currency">({{base_code}})
										</div>
									</div>
									<div class="col-xs-4">{{'sum' | translate}} <div class="currency">({{base_code}})
										</div>
									</div>
								</div>
								<div class="row body" ng-class="{my: item.account == address}" title="{{item.account}}"
									ng-repeat="item in book.asks" ng-click="pickPrice('ask', item.price)">
									<div class="col-xs-4">{{item.price | number: price_precise}}</div>
									<div class="col-xs-4">{{item.amount | number: precise}}</div>
									<div class="col-xs-4">{{item.depth | number: value_precise}}</div>
								</div>
								<div ng-show="!book.asks.length" class="message" translate="no_asks">There are currently
									no asks for this pair.</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</group>
</section>
